@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

* {
    box-sizing: border-box;
}

body {
    top: 0;
    margin: 0;

    background-color: #222;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    font-family: "JetBrains Mono", sans-serif;
    color: #f8f8f8;

    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #f8f8f8;
}

input {
    border: none;
    border-radius: 5px;
    padding: 0.5vw 0.5vw 0.5vw 1vw;
    width: 90%;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0.9;
    transition: opacity 0.2s;
    font: 1.25rem / 1.5 sans-serif;
}

input:hover {
    opacity: 1;
}

input:focus {
    outline: none;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.confirm {
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0.9;
    width: 15%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    border-radius: 10px;
    padding: 5px;
    margin: 5px;

    transition: all 0.2s;
}

.confirm:hover {
  opacity: 1;
}

.confirm:active {
    transform: translateY(1px);
}
