@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

* {
    box-sizing: border-box;
}

body {
    top: 0;
    margin: 0;
    height: auto;

    background-color: #222;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    font-family: "JetBrains Mono", sans-serif;
    color: #f8f8f8;
}

a {
    text-decoration: none;
    color: #f8f8f8;
}

input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #f8f8f8;
    margin: 0;
    border: 1px solid #000;
    border-radius: 10px;

    background: rgba(0, 0, 0, 0.4);
    font: 1.25rem / 1.5 sans-serif;
    display: block;
    width: 80%;
    padding: 0.5rem 0.75rem;

    transition: all .3s linear;
}

input:hover {
    border: 1px solid #aaa;
}

input:focus {
    outline: none;
    background: rgba(0, 0, 0, 0.5);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

